@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-spin-slow {
    animation: spin 3s linear infinite;
  }

  .animate-pulse-charging {
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes pulse {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.7;
  }
}